--
-- PostgreSQL database dump
--

\restrict OqwvJO6d63HS7gj9Wedt5hPufHsNYae3lSANMKck06yGaApKrfjemnBiH4kFZmZ

-- Dumped from database version 16.14
-- Dumped by pg_dump version 16.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: expiry_user
--

CREATE TABLE public.audit_logs (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    event_type character varying(100) NOT NULL,
    entity_type character varying(100),
    entity_id character varying(100),
    actor_id character varying(200),
    actor_type character varying(50),
    before_state jsonb,
    after_state jsonb,
    change_summary text,
    ip_address character varying(50),
    user_agent character varying(500),
    request_id character varying(100),
    occurred_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.audit_logs OWNER TO expiry_user;

--
-- Name: barcode_scans; Type: TABLE; Schema: public; Owner: expiry_user
--

CREATE TABLE public.barcode_scans (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    product_id uuid,
    raw_barcode character varying(255) NOT NULL,
    barcode_type character varying(20),
    scan_source character varying(100),
    scan_status character varying(20) DEFAULT 'unresolved'::character varying NOT NULL,
    notes text,
    scanned_at timestamp with time zone DEFAULT now() NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.barcode_scans OWNER TO expiry_user;

--
-- Name: data_quality_issues; Type: TABLE; Schema: public; Owner: expiry_user
--

CREATE TABLE public.data_quality_issues (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    inventory_item_id uuid,
    related_table text,
    related_record_id uuid,
    issue_type text NOT NULL,
    severity text NOT NULL,
    issue_message text NOT NULL,
    resolution_status text DEFAULT 'open'::text NOT NULL,
    resolved_by text,
    resolved_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.data_quality_issues OWNER TO expiry_user;

--
-- Name: ingredients; Type: TABLE; Schema: public; Owner: expiry_user
--

CREATE TABLE public.ingredients (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name text NOT NULL,
    normalized_name text NOT NULL,
    ingredient_type text,
    description text,
    known_shelf_life_impact text,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.ingredients OWNER TO expiry_user;

--
-- Name: inventory_items; Type: TABLE; Schema: public; Owner: expiry_user
--

CREATE TABLE public.inventory_items (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    product_id uuid NOT NULL,
    barcode_scan_id uuid,
    batch_number character varying(100),
    manufacturing_date date,
    expiry_date date,
    pipeline_status character varying(30) DEFAULT 'PENDING_OCR'::character varying NOT NULL,
    status_reason text,
    quantity integer DEFAULT 1,
    unit character varying(20),
    intake_notes text,
    intake_at timestamp with time zone DEFAULT now() NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    opened_at timestamp with time zone,
    is_opened boolean DEFAULT false NOT NULL,
    observed_condition text,
    quality_score numeric(5,2)
);


ALTER TABLE public.inventory_items OWNER TO expiry_user;

--
-- Name: manual_reviews; Type: TABLE; Schema: public; Owner: expiry_user
--

CREATE TABLE public.manual_reviews (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    inventory_item_id uuid NOT NULL,
    reviewer_id character varying(200),
    reviewer_role character varying(100),
    corrected_mfg_date date,
    corrected_expiry_date date,
    human_decision character varying(30),
    review_notes text,
    escalation_reason text,
    review_status character varying(20) DEFAULT 'pending'::character varying NOT NULL,
    reviewed_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.manual_reviews OWNER TO expiry_user;

--
-- Name: ml_predictions; Type: TABLE; Schema: public; Owner: expiry_user
--

CREATE TABLE public.ml_predictions (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    inventory_item_id uuid NOT NULL,
    model_name character varying(200),
    model_version character varying(50),
    predicted_mfg_date date,
    predicted_expiry_date date,
    predicted_remaining_days integer,
    predicted_decision character varying(30),
    decision_confidence numeric(5,4),
    decision_reason text,
    raw_prediction_payload text,
    prediction_status character varying(20) DEFAULT 'pending'::character varying NOT NULL,
    failure_reason text,
    predicted_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.ml_predictions OWNER TO expiry_user;

--
-- Name: ocr_results; Type: TABLE; Schema: public; Owner: expiry_user
--

CREATE TABLE public.ocr_results (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    product_image_id uuid NOT NULL,
    inventory_item_id uuid,
    raw_text text,
    ocr_engine character varying(100),
    ocr_engine_version character varying(50),
    extracted_text_blocks jsonb,
    overall_confidence numeric(5,4),
    ocr_status character varying(30) DEFAULT 'pending'::character varying NOT NULL,
    failure_reason text,
    processed_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    detected_mfg_text text,
    detected_expiry_text text,
    detected_ingredients_text text,
    detected_nutrition_text text,
    date_parse_confidence numeric(5,2)
);


ALTER TABLE public.ocr_results OWNER TO expiry_user;

--
-- Name: preservatives; Type: TABLE; Schema: public; Owner: expiry_user
--

CREATE TABLE public.preservatives (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    ingredient_id uuid,
    name text NOT NULL,
    code text,
    preservative_type text,
    expected_effect text,
    risk_notes text,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.preservatives OWNER TO expiry_user;

--
-- Name: product_images; Type: TABLE; Schema: public; Owner: expiry_user
--

CREATE TABLE public.product_images (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    product_id uuid NOT NULL,
    file_path character varying(500) NOT NULL,
    file_url character varying(500),
    file_size_bytes integer,
    mime_type character varying(100),
    image_type character varying(50),
    processing_status character varying(30) DEFAULT 'uploaded'::character varying NOT NULL,
    notes text,
    uploaded_at timestamp with time zone DEFAULT now() NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.product_images OWNER TO expiry_user;

--
-- Name: product_ingredients; Type: TABLE; Schema: public; Owner: expiry_user
--

CREATE TABLE public.product_ingredients (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    product_id uuid NOT NULL,
    ingredient_id uuid NOT NULL,
    ingredient_order integer,
    percentage numeric(5,2),
    source text,
    confidence numeric(5,2),
    raw_text text,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.product_ingredients OWNER TO expiry_user;

--
-- Name: product_packaging; Type: TABLE; Schema: public; Owner: expiry_user
--

CREATE TABLE public.product_packaging (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    product_id uuid NOT NULL,
    packaging_type text,
    seal_type text,
    is_resealable boolean DEFAULT false NOT NULL,
    light_exposure_level text,
    oxygen_barrier_level text,
    moisture_barrier_level text,
    notes text,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.product_packaging OWNER TO expiry_user;

--
-- Name: products; Type: TABLE; Schema: public; Owner: expiry_user
--

CREATE TABLE public.products (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name character varying(255) NOT NULL,
    brand character varying(255),
    sku character varying(100) NOT NULL,
    barcode character varying(100) NOT NULL,
    barcode_type character varying(20) DEFAULT 'EAN13'::character varying NOT NULL,
    category character varying(100),
    description text,
    default_storage_type character varying(50),
    image_url character varying(500),
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    gtin text,
    manufacturer_name text,
    country_of_origin text,
    net_quantity text,
    ingredients_raw_text text,
    nutrition_raw_text text,
    allergen_info text,
    product_form text
);


ALTER TABLE public.products OWNER TO expiry_user;

--
-- Name: scan_sessions; Type: TABLE; Schema: public; Owner: expiry_user
--

CREATE TABLE public.scan_sessions (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    inventory_item_id uuid,
    session_status text DEFAULT 'in_progress'::text NOT NULL,
    barcode_completed boolean DEFAULT false NOT NULL,
    ocr_completed boolean DEFAULT false NOT NULL,
    mfg_date_completed boolean DEFAULT false NOT NULL,
    expiry_date_completed boolean DEFAULT false NOT NULL,
    product_description_completed boolean DEFAULT false NOT NULL,
    ingredients_completed boolean DEFAULT false NOT NULL,
    blocking_reason text,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    completed_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.scan_sessions OWNER TO expiry_user;

--
-- Name: shelf_life_rules; Type: TABLE; Schema: public; Owner: expiry_user
--

CREATE TABLE public.shelf_life_rules (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    category text NOT NULL,
    storage_type text,
    packaging_type text,
    ingredient_pattern text,
    preservative_pattern text,
    estimated_min_days integer,
    estimated_max_days integer,
    confidence numeric(5,2),
    rule_source text,
    notes text,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.shelf_life_rules OWNER TO expiry_user;

--
-- Name: storage_contexts; Type: TABLE; Schema: public; Owner: expiry_user
--

CREATE TABLE public.storage_contexts (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    inventory_item_id uuid NOT NULL,
    warehouse_id character varying(100),
    zone character varying(100),
    aisle character varying(50),
    shelf character varying(50),
    bin_location character varying(100),
    storage_type character varying(50),
    temperature_celsius numeric(5,2),
    humidity_percent numeric(5,2),
    notes text,
    recorded_at timestamp with time zone DEFAULT now() NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.storage_contexts OWNER TO expiry_user;

--
-- Name: users; Type: TABLE; Schema: public; Owner: expiry_user
--

CREATE TABLE public.users (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    email character varying(255) NOT NULL,
    name character varying(255),
    hashed_password text NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.users OWNER TO expiry_user;

--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: public; Owner: expiry_user
--



--
-- Data for Name: barcode_scans; Type: TABLE DATA; Schema: public; Owner: expiry_user
--



--
-- Data for Name: data_quality_issues; Type: TABLE DATA; Schema: public; Owner: expiry_user
--

COPY public.data_quality_issues (id, inventory_item_id, related_table, related_record_id, issue_type, severity, issue_message, resolution_status, resolved_by, resolved_at, created_at) FROM stdin;
\.


--
-- Data for Name: ingredients; Type: TABLE DATA; Schema: public; Owner: expiry_user
--

COPY public.ingredients (id, name, normalized_name, ingredient_type, description, known_shelf_life_impact, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: inventory_items; Type: TABLE DATA; Schema: public; Owner: expiry_user
--



--
-- Data for Name: manual_reviews; Type: TABLE DATA; Schema: public; Owner: expiry_user
--



--
-- Data for Name: ml_predictions; Type: TABLE DATA; Schema: public; Owner: expiry_user
--



--
-- Data for Name: ocr_results; Type: TABLE DATA; Schema: public; Owner: expiry_user
--



--
-- Data for Name: preservatives; Type: TABLE DATA; Schema: public; Owner: expiry_user
--

COPY public.preservatives (id, ingredient_id, name, code, preservative_type, expected_effect, risk_notes, created_at) FROM stdin;
\.


--
-- Data for Name: product_images; Type: TABLE DATA; Schema: public; Owner: expiry_user
--



--
-- Data for Name: product_ingredients; Type: TABLE DATA; Schema: public; Owner: expiry_user
--

COPY public.product_ingredients (id, product_id, ingredient_id, ingredient_order, percentage, source, confidence, raw_text, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: product_packaging; Type: TABLE DATA; Schema: public; Owner: expiry_user
--

COPY public.product_packaging (id, product_id, packaging_type, seal_type, is_resealable, light_exposure_level, oxygen_barrier_level, moisture_barrier_level, notes, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: products; Type: TABLE DATA; Schema: public; Owner: expiry_user
--



--
-- Data for Name: scan_sessions; Type: TABLE DATA; Schema: public; Owner: expiry_user
--

COPY public.scan_sessions (id, inventory_item_id, session_status, barcode_completed, ocr_completed, mfg_date_completed, expiry_date_completed, product_description_completed, ingredients_completed, blocking_reason, started_at, completed_at, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: shelf_life_rules; Type: TABLE DATA; Schema: public; Owner: expiry_user
--

COPY public.shelf_life_rules (id, category, storage_type, packaging_type, ingredient_pattern, preservative_pattern, estimated_min_days, estimated_max_days, confidence, rule_source, notes, is_active, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: storage_contexts; Type: TABLE DATA; Schema: public; Owner: expiry_user
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: expiry_user
--

COPY public.users (id, email, name, hashed_password, is_active, created_at, updated_at) FROM stdin;
\.


--
-- Name: audit_logs audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: expiry_user
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (id);


--
-- Name: barcode_scans barcode_scans_pkey; Type: CONSTRAINT; Schema: public; Owner: expiry_user
--

ALTER TABLE ONLY public.barcode_scans
    ADD CONSTRAINT barcode_scans_pkey PRIMARY KEY (id);


--
-- Name: data_quality_issues data_quality_issues_pkey; Type: CONSTRAINT; Schema: public; Owner: expiry_user
--

ALTER TABLE ONLY public.data_quality_issues
    ADD CONSTRAINT data_quality_issues_pkey PRIMARY KEY (id);


--
-- Name: ingredients ingredients_name_key; Type: CONSTRAINT; Schema: public; Owner: expiry_user
--

ALTER TABLE ONLY public.ingredients
    ADD CONSTRAINT ingredients_name_key UNIQUE (name);


--
-- Name: ingredients ingredients_pkey; Type: CONSTRAINT; Schema: public; Owner: expiry_user
--

ALTER TABLE ONLY public.ingredients
    ADD CONSTRAINT ingredients_pkey PRIMARY KEY (id);


--
-- Name: inventory_items inventory_items_pkey; Type: CONSTRAINT; Schema: public; Owner: expiry_user
--

ALTER TABLE ONLY public.inventory_items
    ADD CONSTRAINT inventory_items_pkey PRIMARY KEY (id);


--
-- Name: manual_reviews manual_reviews_pkey; Type: CONSTRAINT; Schema: public; Owner: expiry_user
--

ALTER TABLE ONLY public.manual_reviews
    ADD CONSTRAINT manual_reviews_pkey PRIMARY KEY (id);


--
-- Name: ml_predictions ml_predictions_pkey; Type: CONSTRAINT; Schema: public; Owner: expiry_user
--

ALTER TABLE ONLY public.ml_predictions
    ADD CONSTRAINT ml_predictions_pkey PRIMARY KEY (id);


--
-- Name: ocr_results ocr_results_pkey; Type: CONSTRAINT; Schema: public; Owner: expiry_user
--

ALTER TABLE ONLY public.ocr_results
    ADD CONSTRAINT ocr_results_pkey PRIMARY KEY (id);


--
-- Name: preservatives preservatives_pkey; Type: CONSTRAINT; Schema: public; Owner: expiry_user
--

ALTER TABLE ONLY public.preservatives
    ADD CONSTRAINT preservatives_pkey PRIMARY KEY (id);


--
-- Name: product_images product_images_pkey; Type: CONSTRAINT; Schema: public; Owner: expiry_user
--

ALTER TABLE ONLY public.product_images
    ADD CONSTRAINT product_images_pkey PRIMARY KEY (id);


--
-- Name: product_ingredients product_ingredients_pkey; Type: CONSTRAINT; Schema: public; Owner: expiry_user
--

ALTER TABLE ONLY public.product_ingredients
    ADD CONSTRAINT product_ingredients_pkey PRIMARY KEY (id);


--
-- Name: product_ingredients product_ingredients_product_id_ingredient_id_key; Type: CONSTRAINT; Schema: public; Owner: expiry_user
--

ALTER TABLE ONLY public.product_ingredients
    ADD CONSTRAINT product_ingredients_product_id_ingredient_id_key UNIQUE (product_id, ingredient_id);


--
-- Name: product_packaging product_packaging_pkey; Type: CONSTRAINT; Schema: public; Owner: expiry_user
--

ALTER TABLE ONLY public.product_packaging
    ADD CONSTRAINT product_packaging_pkey PRIMARY KEY (id);


--
-- Name: products products_barcode_key; Type: CONSTRAINT; Schema: public; Owner: expiry_user
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_barcode_key UNIQUE (barcode);


--
-- Name: products products_pkey; Type: CONSTRAINT; Schema: public; Owner: expiry_user
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_pkey PRIMARY KEY (id);


--
-- Name: products products_sku_key; Type: CONSTRAINT; Schema: public; Owner: expiry_user
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_sku_key UNIQUE (sku);


--
-- Name: scan_sessions scan_sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: expiry_user
--

ALTER TABLE ONLY public.scan_sessions
    ADD CONSTRAINT scan_sessions_pkey PRIMARY KEY (id);


--
-- Name: shelf_life_rules shelf_life_rules_pkey; Type: CONSTRAINT; Schema: public; Owner: expiry_user
--

ALTER TABLE ONLY public.shelf_life_rules
    ADD CONSTRAINT shelf_life_rules_pkey PRIMARY KEY (id);


--
-- Name: storage_contexts storage_contexts_inventory_item_id_key; Type: CONSTRAINT; Schema: public; Owner: expiry_user
--

ALTER TABLE ONLY public.storage_contexts
    ADD CONSTRAINT storage_contexts_inventory_item_id_key UNIQUE (inventory_item_id);


--
-- Name: storage_contexts storage_contexts_pkey; Type: CONSTRAINT; Schema: public; Owner: expiry_user
--

ALTER TABLE ONLY public.storage_contexts
    ADD CONSTRAINT storage_contexts_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: expiry_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: expiry_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: idx_audit_logs_actor_id; Type: INDEX; Schema: public; Owner: expiry_user
--

CREATE INDEX idx_audit_logs_actor_id ON public.audit_logs USING btree (actor_id);


--
-- Name: idx_audit_logs_entity_id; Type: INDEX; Schema: public; Owner: expiry_user
--

CREATE INDEX idx_audit_logs_entity_id ON public.audit_logs USING btree (entity_id);


--
-- Name: idx_audit_logs_event_type; Type: INDEX; Schema: public; Owner: expiry_user
--

CREATE INDEX idx_audit_logs_event_type ON public.audit_logs USING btree (event_type);


--
-- Name: idx_audit_logs_occurred_at; Type: INDEX; Schema: public; Owner: expiry_user
--

CREATE INDEX idx_audit_logs_occurred_at ON public.audit_logs USING btree (occurred_at DESC);


--
-- Name: idx_barcode_scans_product_id; Type: INDEX; Schema: public; Owner: expiry_user
--

CREATE INDEX idx_barcode_scans_product_id ON public.barcode_scans USING btree (product_id);


--
-- Name: idx_barcode_scans_raw_barcode; Type: INDEX; Schema: public; Owner: expiry_user
--

CREATE INDEX idx_barcode_scans_raw_barcode ON public.barcode_scans USING btree (raw_barcode);


--
-- Name: idx_barcode_scans_scan_status; Type: INDEX; Schema: public; Owner: expiry_user
--

CREATE INDEX idx_barcode_scans_scan_status ON public.barcode_scans USING btree (scan_status);


--
-- Name: idx_data_quality_issues_inventory_item_id; Type: INDEX; Schema: public; Owner: expiry_user
--

CREATE INDEX idx_data_quality_issues_inventory_item_id ON public.data_quality_issues USING btree (inventory_item_id);


--
-- Name: idx_data_quality_issues_issue_type; Type: INDEX; Schema: public; Owner: expiry_user
--

CREATE INDEX idx_data_quality_issues_issue_type ON public.data_quality_issues USING btree (issue_type);


--
-- Name: idx_data_quality_issues_resolution; Type: INDEX; Schema: public; Owner: expiry_user
--

CREATE INDEX idx_data_quality_issues_resolution ON public.data_quality_issues USING btree (resolution_status);


--
-- Name: idx_data_quality_issues_severity; Type: INDEX; Schema: public; Owner: expiry_user
--

CREATE INDEX idx_data_quality_issues_severity ON public.data_quality_issues USING btree (severity);


--
-- Name: idx_ingredients_name; Type: INDEX; Schema: public; Owner: expiry_user
--

CREATE INDEX idx_ingredients_name ON public.ingredients USING btree (normalized_name);


--
-- Name: idx_ingredients_type; Type: INDEX; Schema: public; Owner: expiry_user
--

CREATE INDEX idx_ingredients_type ON public.ingredients USING btree (ingredient_type);


--
-- Name: idx_inventory_items_batch_number; Type: INDEX; Schema: public; Owner: expiry_user
--

CREATE INDEX idx_inventory_items_batch_number ON public.inventory_items USING btree (batch_number);


--
-- Name: idx_inventory_items_expiry_date; Type: INDEX; Schema: public; Owner: expiry_user
--

CREATE INDEX idx_inventory_items_expiry_date ON public.inventory_items USING btree (expiry_date);


--
-- Name: idx_inventory_items_pipeline_status; Type: INDEX; Schema: public; Owner: expiry_user
--

CREATE INDEX idx_inventory_items_pipeline_status ON public.inventory_items USING btree (pipeline_status);


--
-- Name: idx_inventory_items_product_id; Type: INDEX; Schema: public; Owner: expiry_user
--

CREATE INDEX idx_inventory_items_product_id ON public.inventory_items USING btree (product_id);


--
-- Name: idx_manual_reviews_human_decision; Type: INDEX; Schema: public; Owner: expiry_user
--

CREATE INDEX idx_manual_reviews_human_decision ON public.manual_reviews USING btree (human_decision);


--
-- Name: idx_manual_reviews_inventory_item_id; Type: INDEX; Schema: public; Owner: expiry_user
--

CREATE INDEX idx_manual_reviews_inventory_item_id ON public.manual_reviews USING btree (inventory_item_id);


--
-- Name: idx_manual_reviews_review_status; Type: INDEX; Schema: public; Owner: expiry_user
--

CREATE INDEX idx_manual_reviews_review_status ON public.manual_reviews USING btree (review_status);


--
-- Name: idx_ml_predictions_inventory_item_id; Type: INDEX; Schema: public; Owner: expiry_user
--

CREATE INDEX idx_ml_predictions_inventory_item_id ON public.ml_predictions USING btree (inventory_item_id);


--
-- Name: idx_ml_predictions_predicted_decision; Type: INDEX; Schema: public; Owner: expiry_user
--

CREATE INDEX idx_ml_predictions_predicted_decision ON public.ml_predictions USING btree (predicted_decision);


--
-- Name: idx_ml_predictions_prediction_status; Type: INDEX; Schema: public; Owner: expiry_user
--

CREATE INDEX idx_ml_predictions_prediction_status ON public.ml_predictions USING btree (prediction_status);


--
-- Name: idx_ocr_results_inventory_item_id; Type: INDEX; Schema: public; Owner: expiry_user
--

CREATE INDEX idx_ocr_results_inventory_item_id ON public.ocr_results USING btree (inventory_item_id);


--
-- Name: idx_ocr_results_ocr_status; Type: INDEX; Schema: public; Owner: expiry_user
--

CREATE INDEX idx_ocr_results_ocr_status ON public.ocr_results USING btree (ocr_status);


--
-- Name: idx_ocr_results_product_image_id; Type: INDEX; Schema: public; Owner: expiry_user
--

CREATE INDEX idx_ocr_results_product_image_id ON public.ocr_results USING btree (product_image_id);


--
-- Name: idx_preservatives_ingredient_id; Type: INDEX; Schema: public; Owner: expiry_user
--

CREATE INDEX idx_preservatives_ingredient_id ON public.preservatives USING btree (ingredient_id);


--
-- Name: idx_preservatives_type; Type: INDEX; Schema: public; Owner: expiry_user
--

CREATE INDEX idx_preservatives_type ON public.preservatives USING btree (preservative_type);


--
-- Name: idx_product_images_processing_status; Type: INDEX; Schema: public; Owner: expiry_user
--

CREATE INDEX idx_product_images_processing_status ON public.product_images USING btree (processing_status);


--
-- Name: idx_product_images_product_id; Type: INDEX; Schema: public; Owner: expiry_user
--

CREATE INDEX idx_product_images_product_id ON public.product_images USING btree (product_id);


--
-- Name: idx_product_ingredients_ingredient_id; Type: INDEX; Schema: public; Owner: expiry_user
--

CREATE INDEX idx_product_ingredients_ingredient_id ON public.product_ingredients USING btree (ingredient_id);


--
-- Name: idx_product_ingredients_product_id; Type: INDEX; Schema: public; Owner: expiry_user
--

CREATE INDEX idx_product_ingredients_product_id ON public.product_ingredients USING btree (product_id);


--
-- Name: idx_product_packaging_product_id; Type: INDEX; Schema: public; Owner: expiry_user
--

CREATE INDEX idx_product_packaging_product_id ON public.product_packaging USING btree (product_id);


--
-- Name: idx_product_packaging_type; Type: INDEX; Schema: public; Owner: expiry_user
--

CREATE INDEX idx_product_packaging_type ON public.product_packaging USING btree (packaging_type);


--
-- Name: idx_products_barcode; Type: INDEX; Schema: public; Owner: expiry_user
--

CREATE INDEX idx_products_barcode ON public.products USING btree (barcode);


--
-- Name: idx_products_brand; Type: INDEX; Schema: public; Owner: expiry_user
--

CREATE INDEX idx_products_brand ON public.products USING btree (brand);


--
-- Name: idx_products_category; Type: INDEX; Schema: public; Owner: expiry_user
--

CREATE INDEX idx_products_category ON public.products USING btree (category);


--
-- Name: idx_products_sku; Type: INDEX; Schema: public; Owner: expiry_user
--

CREATE INDEX idx_products_sku ON public.products USING btree (sku);


--
-- Name: idx_scan_sessions_inventory_item_id; Type: INDEX; Schema: public; Owner: expiry_user
--

CREATE INDEX idx_scan_sessions_inventory_item_id ON public.scan_sessions USING btree (inventory_item_id);


--
-- Name: idx_scan_sessions_status; Type: INDEX; Schema: public; Owner: expiry_user
--

CREATE INDEX idx_scan_sessions_status ON public.scan_sessions USING btree (session_status);


--
-- Name: idx_shelf_life_rules_category; Type: INDEX; Schema: public; Owner: expiry_user
--

CREATE INDEX idx_shelf_life_rules_category ON public.shelf_life_rules USING btree (category);


--
-- Name: idx_shelf_life_rules_is_active; Type: INDEX; Schema: public; Owner: expiry_user
--

CREATE INDEX idx_shelf_life_rules_is_active ON public.shelf_life_rules USING btree (is_active);


--
-- Name: idx_shelf_life_rules_storage_type; Type: INDEX; Schema: public; Owner: expiry_user
--

CREATE INDEX idx_shelf_life_rules_storage_type ON public.shelf_life_rules USING btree (storage_type);


--
-- Name: idx_storage_contexts_inventory_item_id; Type: INDEX; Schema: public; Owner: expiry_user
--

CREATE INDEX idx_storage_contexts_inventory_item_id ON public.storage_contexts USING btree (inventory_item_id);


--
-- Name: idx_storage_contexts_warehouse_id; Type: INDEX; Schema: public; Owner: expiry_user
--

CREATE INDEX idx_storage_contexts_warehouse_id ON public.storage_contexts USING btree (warehouse_id);


--
-- Name: idx_users_email; Type: INDEX; Schema: public; Owner: expiry_user
--

CREATE INDEX idx_users_email ON public.users USING btree (email);


--
-- Name: barcode_scans barcode_scans_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: expiry_user
--

ALTER TABLE ONLY public.barcode_scans
    ADD CONSTRAINT barcode_scans_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(id) ON DELETE SET NULL;


--
-- Name: data_quality_issues data_quality_issues_inventory_item_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: expiry_user
--

ALTER TABLE ONLY public.data_quality_issues
    ADD CONSTRAINT data_quality_issues_inventory_item_id_fkey FOREIGN KEY (inventory_item_id) REFERENCES public.inventory_items(id) ON DELETE CASCADE;


--
-- Name: inventory_items inventory_items_barcode_scan_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: expiry_user
--

ALTER TABLE ONLY public.inventory_items
    ADD CONSTRAINT inventory_items_barcode_scan_id_fkey FOREIGN KEY (barcode_scan_id) REFERENCES public.barcode_scans(id) ON DELETE SET NULL;


--
-- Name: inventory_items inventory_items_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: expiry_user
--

ALTER TABLE ONLY public.inventory_items
    ADD CONSTRAINT inventory_items_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(id) ON DELETE RESTRICT;


--
-- Name: manual_reviews manual_reviews_inventory_item_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: expiry_user
--

ALTER TABLE ONLY public.manual_reviews
    ADD CONSTRAINT manual_reviews_inventory_item_id_fkey FOREIGN KEY (inventory_item_id) REFERENCES public.inventory_items(id) ON DELETE CASCADE;


--
-- Name: ml_predictions ml_predictions_inventory_item_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: expiry_user
--

ALTER TABLE ONLY public.ml_predictions
    ADD CONSTRAINT ml_predictions_inventory_item_id_fkey FOREIGN KEY (inventory_item_id) REFERENCES public.inventory_items(id) ON DELETE CASCADE;


--
-- Name: ocr_results ocr_results_inventory_item_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: expiry_user
--

ALTER TABLE ONLY public.ocr_results
    ADD CONSTRAINT ocr_results_inventory_item_id_fkey FOREIGN KEY (inventory_item_id) REFERENCES public.inventory_items(id) ON DELETE SET NULL;


--
-- Name: ocr_results ocr_results_product_image_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: expiry_user
--

ALTER TABLE ONLY public.ocr_results
    ADD CONSTRAINT ocr_results_product_image_id_fkey FOREIGN KEY (product_image_id) REFERENCES public.product_images(id) ON DELETE CASCADE;


--
-- Name: preservatives preservatives_ingredient_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: expiry_user
--

ALTER TABLE ONLY public.preservatives
    ADD CONSTRAINT preservatives_ingredient_id_fkey FOREIGN KEY (ingredient_id) REFERENCES public.ingredients(id) ON DELETE SET NULL;


--
-- Name: product_images product_images_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: expiry_user
--

ALTER TABLE ONLY public.product_images
    ADD CONSTRAINT product_images_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(id) ON DELETE CASCADE;


--
-- Name: product_ingredients product_ingredients_ingredient_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: expiry_user
--

ALTER TABLE ONLY public.product_ingredients
    ADD CONSTRAINT product_ingredients_ingredient_id_fkey FOREIGN KEY (ingredient_id) REFERENCES public.ingredients(id) ON DELETE RESTRICT;


--
-- Name: product_ingredients product_ingredients_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: expiry_user
--

ALTER TABLE ONLY public.product_ingredients
    ADD CONSTRAINT product_ingredients_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(id) ON DELETE CASCADE;


--
-- Name: product_packaging product_packaging_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: expiry_user
--

ALTER TABLE ONLY public.product_packaging
    ADD CONSTRAINT product_packaging_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(id) ON DELETE CASCADE;


--
-- Name: scan_sessions scan_sessions_inventory_item_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: expiry_user
--

ALTER TABLE ONLY public.scan_sessions
    ADD CONSTRAINT scan_sessions_inventory_item_id_fkey FOREIGN KEY (inventory_item_id) REFERENCES public.inventory_items(id) ON DELETE SET NULL;


--
-- Name: storage_contexts storage_contexts_inventory_item_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: expiry_user
--

ALTER TABLE ONLY public.storage_contexts
    ADD CONSTRAINT storage_contexts_inventory_item_id_fkey FOREIGN KEY (inventory_item_id) REFERENCES public.inventory_items(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict OqwvJO6d63HS7gj9Wedt5hPufHsNYae3lSANMKck06yGaApKrfjemnBiH4kFZmZ

